html {
    background-color: #370617;
}

header {
    display: flex;
    align-items: center;
    background-color: #03071E;
    color: white;
    font-family: "Bitcount Prop Single Ink", system-ui;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px 20px;
}

header img {    
    width: 48px;
    height: auto;
    margin-right: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #03071E;
    border-radius: 10px;
    display: inline-block;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li a:hover {
    background-color: #D00000;
}

footer {
    text-align: left;
    background-color: #03071E;
    color: white;
}
