/* Colores de la pagina */
:root {
  --bg: #370617;
  --ink: #03071E;
  --red: #D00000;
  --red2: #9D0208;
  --amber: #FFBA08;
  --amber2: #FAA307;
  --txt: #fff;
}

/* Estilos universales */


section { width: 100%; }

section h2{
	text-align: center;
	font-size: 3vh;
	color: var(--amber);
}

/* Primer apartado de la pagina */
/* ~Estilos princpiales */

#personajes {
	margin-top: 5vh;
}


#peliculasNuevas {
	width: 100%;
	height: 50vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	gap: 7vh;
	margin-top: 5vh;
}

.peliculas {
	width: 35vh;
	height: 48vh;
	background-size: cover;
	background-position-x: center;
	background-position-y: bottom;
}

/* ~Estilos rombiodes */

.peliculas::after {
	content: "";
	width: 25vh;
	height: 45vh;
	border: solid 3px var(--red);
	transform: skew(-10deg);
	position: absolute;
	z-index: -1;
	margin-left: 120px;
	margin-top: -10px;
	-webkit-box-shadow: inset -13px -2px 28px 16px rgba(157,2,8,0.78); 
box-shadow: inset -13px -2px 28px 16px rgba(157,2,8,0.78);
}

/* ~Imgenes */

.peliculas:nth-child(1) {
	background-image: url("../IMG/zooPersonajes.png");
}
.peliculas:nth-child(2) {
	background-image: url("../IMG/tronPersonaje.png");
	background-position: top;
}
.peliculas:nth-child(3) {
	background-image: url("../IMG/policia.png");
	background-position: center;
}

/* Divisor entre secciones */

.divisor {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.divisor img {
	width: 7vh;
	height: 7vh;
}

.divisor hr {
	height: 3px;
	width: 100%;
	border: none;
	background-color: var(--amber2);
}

/* Apartado de trajetas */
#comida {
	width: 90vh;
	height: auto;
	margin: auto;
	overflow: hidden;
}

#sectionTarjetas {
  display: flex;
  animation: scroll 30s linear infinite;
  -webkit-animation: scroll 30s linear infinite;
  width: calc(30vh * 6);
  gap: 20px;
  padding: 20px;
}

.tarjetaCarrusel {
  background: var(--ink);
  color: var(--txt);
  width: 30vh;
  height: 40vh;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,.3);
  text-align: center;
  transition: transform .2s ease, box-shadow .2s ease;
}

.tarjetaCarrusel img {
  margin-bottom: 12px;
  height: 80%;
  width: 100%;
}

.tarjetaCarrusel h3 {
	margin-top: -20px;
}

.tarjetaCarrusel p {
	margin-bottom: 30px;
}

/* ~Animacion tarjetas */

.tarjetaCarrusel:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,.5);
}

@keyframes scroll {
	0% {
		-webkit-animation: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-animation: translateX(calc(-30vh * 3));
		transform: translateX(calc(-30vh * 3));
	}
}

/* CSS para responsive */
/* ~Dispositivo spequenos */
@media (max-width: 480px) {
/* ~~Primer apartado de la pagina; tres imagenes de bienvenida */
	.peliculas:nth-child(2) { display: none; }
	.peliculas:nth-child(3) { display: none; }
	.peliculas::after { margin-left: 70px; }
/* ~~Apartado carrusel de comid */
	#comida { max-width: 360px; }
}

/* ~Dispositivos medianos */
@media (max-width: 768px) {
/* ~~Primer apartado de la pagina; tres imagenes de bienvenida */
	.peliculas:nth-child(2) { display: none; }
	.peliculas:nth-child(3) { display: none; }
}

/* ~Dispositivos grandes */
@media (max-width: 1025px) {
/* ~~Primer apartado de la pagina; tres imagenes de bienvenida */
	#peliculasNuevas { gap: 0; }
	.peliculas:nth-child(3) { display: none; }
	.peliculas::after { margin-left: 50px; }
/* ~~Apartado carrusel de comid */
	#comida { width: 50vh; }
}
